/.build
/.lock
/.stage
/auto
/binary
/binary.contents
/binary.deb
/binary-*.iso
/binary.iso.zsync
/binary.packages
/binary.udeb
/live-image-*.contents
/live-image-*.deb
/live-image-*.files
/live-image-*.iso
/live-image-*.iso.zsync
/live-image-*.packages
/live-image-*.udeb
/cache
/chroot
/chroot.files
/chroot.packages.install
/chroot.packages.live
/hdd-*.vdi
/config/includes.chroot/etc/liox_version
/target
/extra_config
/liox-*
