/.build
/.lock
/.stage
/auto
/binary
/binary.contents
/binary.deb
/binary-*.iso
/binary.iso.zsync
/binary.packages
/binary.udeb
/cache
/chroot
/chroot.packages.install
/chroot.packages.live
/hdd-*.vdi
/config/includes.chroot/etc/liox_version
/target
/extra_config
/liox-*
/initrd.img-*
/vmlinuz-*

/.tmp/
/boot.log
/qemu.pid
/id_rsa.pub
